<footer class="page-footer font-small bg-dark pt-4">
  <div class="container">
      <h4 class="text-center text-light">Minhas redes</h4>
      <div class="d-flex justify-content-around align-items-center w-25 m-auto py-5">
        <a href="https://www.freecodecamp.org/edesoares">
          <img
            width="60px"
            height="60px"
            src="https://raw.githubusercontent.com/oieusouoede/personal-portfolio-webpage/main/assets/fcc-icon.png"
            alt="freeCodeCamp"
          />
        </a>
        <a href="https://github.com/oieusouoede">
          <img
            width="60px"
            height="60px"
            src="https://raw.githubusercontent.com/oieusouoede/personal-portfolio-webpage/main/assets/github-icon.png"
            alt="Github"
          />
        </a>
        <a href="https://codepen.io/edesoares">
          <img
            width="60px"
            height="60px"
            src="https://raw.githubusercontent.com/oieusouoede/personal-portfolio-webpage/main/assets/codepen-icon.png"
            alt="Codepen"
          />
        </a>
        <a href="https://www.linkedin.com/in/edesoares/">
          <img
            width="60px"
            height="60px"
            src="https://raw.githubusercontent.com/oieusouoede/personal-portfolio-webpage/main/assets/linkedin-icon.png"
            alt="LinkedIn"
          />
        </a>
      </div>
  </div>
  <div class="footer-copyright bg-dark text-center py-2">
    <span class="text-light"> Feito por Edgar Soares Marinho </span>
  </div>
</footer>
