form {
  max-width: 300px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

select, input, input:focus {
  background-color: transparent;
  color: var(--color-wh);
}

input::placeholder {
  color: var(--color-wh);
}

a:hover {
  color: var(--color-sc);
}

.font-w-500 {
  font-weight: 500;
}

.ft-wh {
  color: var(--color-wh)
}

.b-wh {
  border-color: var(--color-wh) !important;
}

.login-container {
  max-width: 400px;
}
