<div class="container size d-flex justify-content-center align-items-center">
  <div class="rounded border b-wh bw-2 p-4">
    <div class="w-100 d-flex justify-content-center">
      <img
        class="p-3"
        src="https://img.icons8.com/external-flat-icons-maxicons/100/000000/external-ancient-archeology-flat-flat-icons-maxicons-10.png"
      />
    </div>
    <form class="needs-validation ft-wh">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          [(ngModel)]='userLogin.email'
          type="email"
          class="form-control bw-2 font-w-500 ft-wh b-wh bg-sc"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          placeholder="Digite seu Email"
          required
        />
      </div>
      <div class="form-group">
        <label for="passwd">Senha</label>
        <input
          [(ngModel)]='userLogin.passwd'
          type="passwd"
          class="form-control bw-2 font-w-500 ft-wh b-wh"
          id="passwd"
          name="passwd"
          placeholder="Senha"
          required
        />
      </div>

      <button
      type="submit"
      class="btn b-wh bw-2 bg-transparent font-w-500 ft-wh"
      (click)="login($event)"
      >
        Entrar
      </button>
      <hr class="my-3 b-wh" />
      <p class="text-center">
        Não tem uma conta?
        <a routerLink="/register" class="ft-wh"> Cadastre-se</a>
      </p>
    </form>
  </div>
</div>
