/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

/* Palette */

:root {
--color-pr: #1D3557;
--color-sc: #457B9D;
--color-bl: #A8DADC;
--color-wh: #F1FAEE;
--color-red: #E63946;
}

/* Background colors */

.bg-pr {
  background-color: var(--color-pr)
}

.bg-sc {
  background-color: var(--color-sc)
}

.bg-bl {
  background-color: var(--color-bl)
}

.bg-wh {
  background-color: var(--color-wh)
}

.bg-red {
  background-color: var(--color-red)
}

/* Border */

.b-white {
  border-color: var(--color-wh);
}


/* Font colors */

.ft-pr {
  color: var(--color-pr);
}

.ft-wh {
  color: var(--color-wh)
}
