<div class="container-fluid bg-pr">
  <div class="row d-flex align-items-start p-5">
    <div class="col-md-3 text-white text-center p-4">
      <a [routerLink]="['/user', userId]">
        <div class="avatar d-flex justify-content-center">
          <img
            src="{{ picture }}"
            alt="avatar"
            width="200px"
            height="200px"
            class="rounded-circle"
          />
        </div>
      </a>
      <h5 class="mt-3">
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros
        commodo tempor.
      </h5>
    </div>
    <div class="col-md-9">
      <div class="row text-white">
        <div class="col-md-12">
          <h1>Bem vindo(a), {{ name }}!</h1>
        </div>
      </div>
      <app-posts></app-posts>
    </div>
  </div>
</div>
